/*
var(--font-montserrat)
var(--font-roboto)
*/

/* Width of the entire scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dadada;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #676767;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

::selection {
  color: white;
  background-color: black;
}

::-moz-selection {
  color: white;
  background-color: black;
}

body {
  font-family: var(--font-oswald), sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.content {
  position: relative;
  z-index: 1;
}

.vertical-lines-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
}

.vertical-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: .5px;
  background-image: linear-gradient(
    to bottom,
    rgba(200, 200, 200, .35) .5px,
    transparent 3.5px,
    transparent .5px
  );
  background-size: 100% 4px;
  background-repeat: repeat-y;
}

@media (max-width: 767px) {
  .vertical-line {
    background-image: linear-gradient(
      to bottom,
      rgba(200, 200, 200, 0.5) 1px,
      transparent 1px,
      transparent 2px
    );
    background-size: 100% 2px;
  }
}


.layout {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  font-family: var(--font-montserrat);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 20px;
  background-color: transparent;
}

.logoContainer {
  margin-bottom: 20px;
  text-align: center;
}

.logo {
  width: 40%;
  max-width: 100%;
  height: auto;
}

.nav {
  width: 100%;
}

.navList {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navList li {
  margin: 0 15px;
}

.navList li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease;
}

.navList li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -5px;
  left: 0;  /* Changed from 50% to 0 */
  background-color: black;
  transition: all 0.3s ease;
}

.navList li a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .navList {
    flex-direction: column;
    align-items: center;
  }

  .navList li {
    margin: 10px 0;
  }
}

@media (max-width: 700px) {
  .logo {
    width: 60%;
  }
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.video-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  padding: 40px;
  max-width: 800px;
  text-align: center;
}

.text-box h1 {
  margin-top: 0px;
  font-size: 3em;
  margin-bottom: 20px;
  font-family: var(--font-montserrat);
}

.text-box p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta {
  font-family: var(--font-montserrat);
  font-weight: bold;
  background-color: white;
  color: black;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.cta:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

@media (max-width: 768px) {
  .text-box h1 {
    font-size: 2rem;
  }

  .text-box p {
    font-size: 1rem;
  }
}

#clients {
  background-color: #fff;
}

.services {
  padding: 60px 20px;
  background-color: #f5f5f5;
}

.services-title {
  margin-bottom: 15px !important;
  text-align: center;
  font-size: 3em;
  margin-bottom: 30px;
  font-family: var(--font-montserrat);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.service-card img {
  width: 100%;
}

.service-card {
  background-color: white;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.service-title {
  font-size: 1.7em;
  margin-bottom: 15px;
  color: #333;
}

.service-description {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}

.certifications {
  padding: 60px 20px;
  background-color: transparent;
}

.certifications-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto 40px;
}

.certification-card {
  border: 2px solid #e0e0e0;
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certification-card img {
  width: 105px;
}

.certification-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.certification-name {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #333;
}

.certification-description {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.certifications-importance {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.certifications-importance h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.certifications-importance p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .certifications-grid {
    grid-template-columns: 1fr;
  }
}

.about-us {
  background-color: #fff;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 60px;
}

.about-us-title,
.clients-title,
.certifications-title {
  margin-bottom: 15px !important;
  text-align: center;
  font-size: 3em;
  margin-bottom: 40px;
  font-family: var(--font-montserrat);
}

.founder {
  text-align: center;
  margin-bottom: 60px;
}

.founder-image {
  width: 200px;
  height: 200px;
  border: 6px solid black;
  border-bottom: 0px;
  object-fit: cover;
}

.founder-name {
  font-size: 2rem;
  margin-bottom: 10px;
}

.founder-tagline {
  font-size: 1.3rem;
  color: #666;
  margin-bottom: 20px;
}

.founder-bio {
  text-align: left;
  font-size: 1.3em;
  max-width: 600px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.founder-bio p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #333;
}

.our-values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 170px;
  padding-right: 170px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.values-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.values-list {
  max-width: 600px;
  list-style-type: none;
  padding: 0;
}

.value-item {
  margin-bottom: 30px;
}

.value-item h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.value-item p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
}

@media (max-width: 768px) {
  .founder-image {
    width: 150px;
    height: 150px;
  }

  .founder-name {
    font-size: 1.8rem;
  }

  .founder-tagline {
    font-size: 1.15rem;
  }

  .our-values {
    padding: 30px;
  }
}


.contact-us {
  background-color: #f5f5f5;
  padding-top: 60px;
  max-width: 1400px;
  margin: 0 auto;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
  padding-left: 40px;
  padding-right: 40px;
}

.contact-form,
.contact-info {
  width: 43%;
}

.contact-form h2,
.contact-info h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.form-group textarea {
  height: 150px;
  resize: vertical;
}

#scroll-up-button {
  background-color: black;
  border: 2px solid black;
}

.splitter-container {
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
}

.splitter-container img {
  width: 120px;
}

.submit-button {
  font-family: var(--font-montserrat);
  font-weight: 500;
  background-color: black;
  color: white;
  border: 3px solid black;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.45s ease;
}

.submit-button:hover {
  background-color: white;
  color: black;
}

.contact-info p {
  margin-bottom: 10px;
}

.working-hours {
  margin-top: 20px;
}

.working-hours h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.map-container {
  width: 100%;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-form,
  .contact-info {
    width: 100%;
    margin-bottom: 40px;
  }
}

.contact-us-title {
  width: 100%;
  margin-bottom: 15px !important;
  font-family: var(--font-montserrat);
  text-align: center;
  font-size: 3em;
}

.footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.company-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 10px;
}

.social-icons {
  display: flex;
  gap: 25px;
}

.social-icons a {
  color: #333;
  font-size: 1.6rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #000;
}

.footer-divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.footer-lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 0.9rem;
}

.capability-link, .privacy-policy-link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.capability-link:hover, 
.privacy-policy-link:hover {
  color: #000;
  text-decoration: underline;
}

.business-codes {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .footer-upper,
  .footer-lower {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .social-icons {
    margin-top: 15px;
  }

  .business-codes {
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }
}

.footer-bottom, .privacy-policy {
  width: 100%;
  text-align: center;
}

.footer-bottom {
  margin-top: 8px;
}

.privacy-policy {
  margin-top: 45px;
}


.privacyPolicy {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.privacyPolicy h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.privacyPolicy h2 {
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 15px;
}

.privacyPolicy p {
  margin-bottom: 15px;
}

.privacyPolicy ul {
  margin-bottom: 15px;
  padding-left: 20px;
}

.privacyPolicy li {
  margin-bottom: 5px;
}



/* --- General Section Styling --- */
.certifications {
  text-align: center;
  padding: 40px 20px;
  background-color: #f9f9f9; /* Light background */
}

.splitter-container img {
  width: 150px;
  height: auto;
}

/* --- Carousel Container --- */
.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

/* --- Scrolling Track --- */
.carousel-track {
  display: flex;
  width: max-content;
  gap: 40px; /* Adjust spacing between logos */
  
}

/* --- Individual Logo Items --- */
.carousel-item {
  flex-shrink: 0;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
  filter: grayscale(100%);
}

.carousel-item:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

/* --- Logo Image Styling --- */
.client-logo {
  height: 150px;
  width: auto;
  object-fit: contain;
}

/* --- Keyframes for Infinite Scrolling --- */
@keyframes scroll-logos {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* --- Responsive Design Tweaks --- */
@media (max-width: 768px) {
  .certifications-title {
    font-size: 20px;
  }

  .client-logo {
    height: 50px;
  }

  .carousel-track {
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .certifications-title {
    font-size: 18px;
  }

  .client-logo {
    height: 40px;
  }
}
